dist: trusty
sudo: required
language: rust
rust:
  - nightly
os:
  - linux
  - osx
notifications:
  webhooks: http://build.servo.org:54856/travis
addons:
  apt:
    sources:
      - ubuntu-toolchain-r-test
      - sourceline: 'deb http://apt.llvm.org/trusty/ llvm-toolchain-trusty-3.8 main'
        keyurl: 'http://apt.llvm.org/llvm-snapshot.gpg.key'
      - sourceline: 'ppa:jonathonf/python-2.7'
    packages:
      - python
      - gcc-5
      - g++-5
      - libpulse-dev
      - pulseaudio
      - dbus-x11

before_install:
  - if [[ "$TRAVIS_OS_NAME" == "osx" ]]; then brew update; fi
  - if [[ "$TRAVIS_OS_NAME" == "osx" ]]; then brew install zlib; fi
  - virtualenv ../venv
  - source ../venv/bin/activate
  - python --version
  - pip install servo-tidy
  - if [ "${TRAVIS_OS_NAME}" != "osx" ]; then
      export DISPLAY=:99.0;
      /sbin/start-stop-daemon --start --quiet --pidfile /tmp/custom_xvfb_99.pid --make-pidfile --background --exec /usr/bin/Xvfb -- :99 -screen 0 1400x900x24 -ac +extension GLX +render -noreset;
      dbus-launch pulseaudio --start;
    else
      sudo xcodebuild -project NullAudio/AudioDriverExamples.xcodeproj -target NullAudio DSTROOT="/" install;
      sudo launchctl kickstart -kp system/com.apple.audio.coreaudiod || sudo killall coreaudiod;
    fi;

script:
  - servo-tidy
  - if [[ "$TRAVIS_OS_NAME" == "osx" ]]; then
      cargo test --verbose;
    else
      CC=gcc-5 CXX=g++-5 cargo test --verbose --features pulseaudio;
    fi;

